<div class="card">
    <div class="card-body">
        <form *ngIf="purchaseForm" [formGroup]="purchaseForm">
            <div fxLayout="column" fxLayoutGap="10px">

                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                        <div fxFlex="30"><b>Список для</b></div>
                        <mat-select formControlName="sharedForUsername" name="sharedUserName">
                            <mat-option *ngFor="let user of users" [value]="user.username">
                                {{user.fio}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

                <div fxFlex="90" fxLayout="column">
                    <div>Наименование списка:</div>
                    <input class="form-control form-control-sm"
                           formControlName="name"
                           id="name"
                           type="text">
                </div>


                <div fxFlex="90" fxLayout="column">
                    <div>Добавить товар:</div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">

                        <input class="form-control form-control-sm"
                               formControlName="itemName"
                               id="itemName"
                               type="text">

                        <button mat-mini-fab color="primary"
                                (click)="addItem()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>

                <mat-list>
                    <mat-list-item *ngFor="let item of purchase.items">
                        <div fxLayout="row" style="width:100%" fxLayoutAlign="start center">
                            <mat-icon fxFlex="10" (click)="toggleActivity(item.id)"
                                      color="primary">{{item.active ? 'block' : 'task_alt' }}</mat-icon>
                            <div [class]="item.active ? '' : 'non-active-item'" fxFlex="80" (click)="editItem(item.id)">{{item.itemName}}</div>
                            <mat-icon fxFlex="10" (click)="deleteItem(item.id)" color="warn">clear</mat-icon>
                        </div>
                    </mat-list-item>
                </mat-list>

            </div>

        </form>
    </div>
    <div class="card-footer">
        <div fxLayout="row" fxLayoutGap="10px">
            <button (click)="save()" class="btn btn-success btn-sm">
                {{buttonLabel}}
            </button>
            <button routerLink="'/app/front/purchases/purchase-list'" class="btn btn-success btn-sm">
                Выход
            </button>
        </div>
    </div>
</div>
