<div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="/assets/images/{{user.username.toLowerCase() === 'koshka' ? 'woman-avatar.png' : 'man-avatar.png'}}"
             width="48px">
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/app/front/purchases/purchase-list">
            <mat-icon class="material-icons color-orange">shopping_cart</mat-icon>
            <span>Покупки</span>
        </button>
        <button mat-menu-item routerLink="/app/front/templates/template-list">
            <mat-icon class="material-icons color-orange">library_books</mat-icon>
            <span>Шаблоны</span>
        </button>
        <button mat-menu-item routerLink="/app/front/profile/edit">
            <mat-icon class="material-icons color-orange">sentiment_satisfied</mat-icon>
            <span>Профиль</span>
        </button>
        <button mat-menu-item routerLink="/app/front/profile/change-password">
            <mat-icon class="material-icons color-orange">password</mat-icon>
            <span>Сменить пароль</span>
        </button>

    </mat-menu>

    <div class="ml-2 user-title">{{user.fio}}</div>

</div>

<router-outlet></router-outlet>
