<div class="mt-5" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">

    <h4>Изменение пароля</h4>

    <div class="mt-3" fxLayout="row" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center">
        <div fxFlex="50">Старый пароль</div>
        <input id="old-password"
               class="form-control form-control-sm"
               [(ngModel)]="oldPassword"
               type="password">
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center">
        <div fxFlex="50">Новый пароль</div>
        <input id="new-password"
               class="form-control form-control-sm"
               [(ngModel)]="newPassword"
               type="password">
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
        <button class="mat-button" (click)="change()">Изменить</button>
        <button class="mat-button" routerLink="/app/front/purchases">Выйти</button>
    </div>
</div>