<mat-card>

    <mat-card-header class="header">

        <div fxLayout="row" style="width:100%" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="80">ШАБЛОНЫ ПОКУПОК</div>
            <div fxFlex="20">
                <button mat-flat-button color="primary" (click)="createTemplate()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

    </mat-card-header>

    <mat-card-content>

        <div style="margin-top:20px" fxLayout="column" fxLayoutGap="10px">

            <div style="border-bottom: 1px solid lightgray"
                 *ngFor="let t of templates"
                 fxLayout="row" fxLayoutAlign="start center">

                <div fxFlex="90" (click)="editTemplate(t.id)" class="item-name">
                    {{t.name}}
                </div>
                <div fxFlex="10">
                    <button mat-icon-button
                            [matMenuTriggerFor]="appMenu"
                            [matMenuTriggerData]="{id: t.id}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>

<!--<div style="position: fixed;right: 30px;top: 30px;">-->
<!--    <button mat-fab color="warn" (click)="createTemplate()">-->
<!--        <mat-icon>add</mat-icon>-->
<!--    </button>-->
<!--</div>-->

<mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-id="id">
        <button mat-menu-item (click)="createPurchase(id)">
            <mat-icon color="primary">shopping_cart</mat-icon>
            <span>Создать список</span>
        </button>
        <button mat-menu-item (click)="deleteTemplate(id)">
            <mat-icon color="warn">delete_forever</mat-icon>
            <span>Удалить</span>
        </button>
    </ng-template>
</mat-menu>
