<mat-card>

    <mat-card-header class="header">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="90">ШАБЛОНЫ ПОКУПОК</div>
            <div fxFlex="10">
                <button mat-icon-button (click)="createTemplate()">
                    <mat-icon style="color:#fff;">add_circle</mat-icon>
                </button>
            </div>
        </div>

    </mat-card-header>

    <mat-card-content>

        <div style="margin-top:20px" fxLayout="column" fxLayoutGap="10px">

            <div style="border-bottom: 1px solid lightgray" *ngFor="let t of templates"
                 fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="100">
                    <div (click)="editTemplate(t.id)" class="item-name" fxFlex="70">
                        {{t.name}}
                    </div>
                    <div fxFlex="15">
                        <button mat-mini-fab (click)="createPurchase(t)" color="primary">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                    </div>
                    <div fxFlex="15">
                        <button mat-mini-fab (click)="deleteTemplate(t.id)" color="warn">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

