<mat-card>

    <mat-card-header class="header">

        <div fxLayout="row" style="width:100%" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="80">СПИСОК ПОКУПОК</div>
            <div>
                <button mat-mini-fab color="primary" (click)="createPurchase()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

    </mat-card-header>

    <mat-card-content>

        <div style="margin-top:20px" fxLayout="column" fxLayoutGap="10px">

            <div style="border-bottom: 1px solid lightgray" *ngFor="let p of purchases"
                 fxLayout="row">
                <div fxFlex="90">
                    <div fxLayout="column">
                        <div class="date-in-list">{{p.createdDate | date: 'dd.MM.yyyy'}}</div>
                        <div [class]="getCheckedClass(p) + ' item-name'" (click)="checkPurchase(p.id)" fxFlex="100">
                            {{p.name}}
                        </div>
                    </div>
                </div>
                <div fxFlex="10">
                    <button mat-icon-button
                            [matMenuTriggerFor]="appMenu"
                            [matMenuTriggerData]="{id: p.id}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-id="id">
        <button mat-menu-item (click)="editPurchase(id)">
            <mat-icon color="primary">edit</mat-icon>
            <span>Изменить</span>
        </button>
        <button mat-menu-item (click)="deletePurchase(id)">
            <mat-icon color="warn">cancel</mat-icon>
            <span>Удалить</span>
        </button>
    </ng-template>
</mat-menu>

